<!DOCTYPE html>
<html>
    <head>
        <title>Spotify Song Suggestor</title>
        <link rel="stylesheet" href="https://unpkg.com/picnic"/>
    </head>
    <body>
        <nav>
            <a href="/" class="brand"><span>Spotify Song Suggestor</span></a>
        
            <!-- responsive-->
            <input id="bmenub" type="checkbox" class="show">
            <label for="bmenub" class="burger pseudo button">Menu</label>
        
            <div class="menu">
                <a href="/" class="button success">Get Suggestions!</a>
            </div>
        </nav>
        
        <article class="flex two" style="padding: 3em 1em;">
            {% block content %}
            <div>
                {% if artist %}
                <h3>If you like "{{ song_name }}" by {{ artist }}, then you should check out the 5 songs below!</h3>
                <p>Here's information for the song "{{ song_name }}"...</p>
                <ul>
                    <li>Title: <a href="{{ song_href }}" target="_blank">{{ song_name }}</a></li>
                    <li>Artist: <a href="{{ artist_href }}" target="_blank">{{ artist }}</a></li>
                    <li>Release Date: {{ release_date }}</li>
                    <li>Acousticness: {{ acoustic }}</li>
                    <li>Danceability: {{ dance }}</li>
                    <li>Energy: {{ energy }}</li>
                    <li>Liveness: {{ live }}</li>
                    <li>Speechiness: {{ speech }}</li>
                    <li>Valence: {{ valence }}</li>
                    <li>Instrumentalness: {{ instrument }}</li>
                </ul>
                {% for i in range(0, 5) %}
                    <p>Recommendation {{ i+1 }}:</p>
                    <ul>
                        <li>Title: <a href="{{ track_refs[i] }}" target="_blank">{{ titles[i] }}</a></li>
                        <li>Artist: <a href="{{ artist_refs[i] }}" target="_blank">{{ artists[i] }}</a></li>
                    </ul>
                {% endfor %}
                {% endif %}

                <h3>Enter a song below...</h3>
                <form action="/" method="post">
                    <input type="text" name="song_name" placeholder="Type your song here to get suggestions for other songs you may like!">
                    <input type="submit" value="Get Suggestions!">
                </form>
            </div>
            {% endblock %}  
        </article>
        <!-- <script src="https://cdn.jsdelivr.net/npm/umbrellajs"/> -->
    </body>
</html>